In [12]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [13]:
df=pd.read_csv("./Datasets/Headlines/News_headlines.csv", parse_dates=["Date"])
df

           Date                                          Headlines
0    2015-01-01  What Can We Expect From Apple Inc. In 2015? 1 ...
1    2015-02-01  What to expect from Apple in 2015 beyond its s...
2    2015-03-01  Mountie: An inexpensive and innovative way to ...
3    2015-04-01  Donald Yacktman on the Sources of Moats, His C...
4    2015-05-01  SIM-free iPhone 6, 6 Plus reportedly debuting ...
...         ...                                                ...
2360 2021-06-19  Best pre-Prime Day smartwatch deals on Apple W...
2361 2021-06-20  iPhone 13 rumors: As Apple's fall event gets c...
2362 2021-06-21  Apple is shortening new free TV Plus trials fr...
2363 2021-06-22  Google likely to soon face antitrust claims ov...
2364 2021-06-23  French court sets date in Apple case over App ...

[2365 rows x 2 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2365 entries, 0 to 2364
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2365 non-null   datetime64[ns]
 1   Headlines  2365 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 37.1+ KB

In [15]:
vader = SentimentIntensityAnalyzer()

scores = df['Headlines'].apply(vader.polarity_scores).tolist()

scores_df = pd.DataFrame(scores)

df = df.join(scores_df, rsuffix='_right')

df.head()

,Date,Headlines,neg,neu,pos,compound
0,2015-01-01,What Can We Expect From Apple Inc. In 2015? 1 ...,0.069,0.820,0.111,0.2263
1,2015-02-01,What to expect from Apple in 2015 beyond its s...,0.041,0.849,0.110,0.9881
2,2015-03-01,Mountie: An inexpensive and innovative way to ...,0.124,0.763,0.112,0.1381
3,2015-04-01,"Donald Yacktman on the Sources of Moats, His C...",0.074,0.874,0.052,-0.5330
4,2015-05-01,"SIM-free iPhone 6, 6 Plus reportedly debuting ...",0.022,0.843,0.134,0.9973

In [16]:
def get_vader_score(compound):
    if compound > 0:
        return 1
    else:
        return 0
df['Vader_label']=df.apply(lambda x: get_vader_score(x['compound']), axis=1)

In [17]:
df.head()

,Date,Headlines,neg,neu,pos,compound,Vader_label
0,2015-01-01,What Can We Expect From Apple Inc. In 2015? 1 ...,0.069,0.820,0.111,0.2263,1
1,2015-02-01,What to expect from Apple in 2015 beyond its s...,0.041,0.849,0.110,0.9881,1
2,2015-03-01,Mountie: An inexpensive and innovative way to ...,0.124,0.763,0.112,0.1381,1
3,2015-04-01,"Donald Yacktman on the Sources of Moats, His C...",0.074,0.874,0.052,-0.5330,0
4,2015-05-01,"SIM-free iPhone 6, 6 Plus reportedly debuting ...",0.022,0.843,0.134,0.9973,1

In [18]:
df['Vader_label'] = df['Vader_label'].astype(int)

In [19]:
df

,Date,Headlines,neg,neu,pos,compound,Vader_label
0,2015-01-01,What Can We Expect From Apple Inc. In 2015? 1 ...,0.069,0.820,0.111,0.2263,1
1,2015-02-01,What to expect from Apple in 2015 beyond its s...,0.041,0.849,0.110,0.9881,1
2,2015-03-01,Mountie: An inexpensive and innovative way to ...,0.124,0.763,0.112,0.1381,1
3,2015-04-01,"Donald Yacktman on the Sources of Moats, His C...",0.074,0.874,0.052,-0.5330,0
4,2015-05-01,"SIM-free iPhone 6, 6 Plus reportedly debuting ...",0.022,0.843,0.134,0.9973,1
...,...,...,...,...,...,...,...
2360,2021-06-19,Best pre-Prime Day smartwatch deals on Apple W...,0.030,0.804,0.167,0.9949,1
2361,2021-06-20,iPhone 13 rumors: As Apple's fall event gets c...,0.019,0.841,0.140,0.9951,1
2362,2021-06-21,Apple is shortening new free TV Plus trials fr...,0.040,0.789,0.172,0.9994,1
2363,2021-06-22,Google likely to soon face antitrust claims ov...,0.028,0.837,0.135,0.9979,1
2364,2021-06-23,French court sets date in Apple case over App ...,0.052,0.822,0.125,0.9975,1

In [20]:
df.Vader_label.value_counts()

1    2008
0     357
Name: Vader_label, dtype: int64

In [22]:
# df1 = df[['Date', 'Vader_label', 'Headlines']].copy()

In [23]:
# df1.to_csv("Labeled_headlines.csv")